.header {
  background-color: #226ca7;
}

.header-paginas {
  display: flex;
  width: 60%;
  margin: 0 auto;
  height: 50px;
}

.header-pagina {
  margin: auto 2rem;
  display: flex;
}

.header-link {
  font-size: 1.2rem;
  margin: 0 .5rem;
  color: white;
}

.header-conta {
  display: flex;
  width: 90%;
  justify-content: space-around;
}